<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>product card</title>
    <link rel="stylesheet" href="./../styles/card.css" />
  </head>
  <body>
    <h1>제품 카드</h1>
    <section class="product-section ipad-pro-section">
      <h2 class="section-title">iPad Pro</h2>
      <dl class="product-description">
        <dt class="sr-only" aria-hidden="true">iPad Pro</dt>
        <dd>놀라우리 만치 얇다.</dd>
        <dd>엄청나게 강력하다.</dd>
      </dl>
      <p aria-label="출시일">출시일 추후 공개</p>
      <div role="group" class="button-group button-blue">
        <a href="/"><button type="button">더 알아보기</button></a>
        <a href="/"><button type="button">가격 보기</button></a>
      </div>
    </section>
  </body>
</html>
